services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: seudestino
      MYSQL_DATABASE: destino
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

  backend:
    container_name: backend
    build:
      context: .
      dockerfile: dockerfile-backend
    ports:
      - "8080:8080"
    depends_on:
      - mysql

volumes:
  db-data: 
    driver: local